<div class="header">
  <img class="logo" src="./assets/icons/family-talk-icon.png" />
  <div class="title">{{ "language.configureLanguage" | translate }}</div>
</div>

<div class="container">
  <section class="options">
    <button
      class="info"
      (click)="setupSpanishAsLanguage()"
      eventName="change-language"
      [eventPayload]="{ language: 'es' }"
      data-testid="btn-spanish"
    >
      {{ "language.spanish" | translate }}
      <span class="check-icon" *ngIf="currentLanguage === 'es'">✔️</span>
    </button>
    <button
      class="info"
      (click)="setupEnglishAsLanguage()"
      eventName="change-language"
      [eventPayload]="{ language: 'en' }"
      data-testid="btn-english"
    >
      {{ "language.english" | translate
      }}<span class="check-icon" *ngIf="currentLanguage === 'en'">✔️</span>
    </button>
  </section>
</div>

<div class="footer">
  <button class="primary" (click)="backToGame()" data-testid="btn-return">
    {{ "common.return" | translate }}
  </button>
</div>