$color-purple: #3f297e;
$color-blue: #1d61ac;
$color-skyblue: #169ed8;
$color-green: #209b6c;
$color-green-2: #60b236;
$color-green-3: #0bb736;
$color-yellow: #c6bf27;
$color-orange: #f7a416;
$color-orange-2: #e6471d;
$color-red: #dc0936;
$color-pink: #e5177b;
$color-pink-2: #be107f;

$color-white: #fff;
$color-grey: grey;
$color-border: #ccc;
$color-text-secondary: #666;
