label {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input[type="text"]:focus {
  border: 2px solid #555;
}

// styles for desktop media
@media screen and (max-width: 768px) {
  form {
    width: 80%;
  }
}

.error-warn {
  color: $color-red;
  font-size: 15px;
}
