<ft-header [title]="'edit.editPlayers' | translate"></ft-header>

<div class="container">
  <section class="players" [class.players--selection-active]="!!selectedUserId">
    <div
      *ngFor="let player of players | keyvalue"
      [id]="player.key"
      class="player-card"
      [class.player-card--selected]="player.value.id === selectedUserId"
      [class.player-card--dimmed]="!!selectedUserId && player.value.id !== selectedUserId"
      [style.--card-accent]="player.value.color"
      (click)="selectedUserId ? null : selectPlayer(player.key)"
      [matTooltip]="'edit.clickToEdit' | translate"
      data-testid="player-card-selectable"
    >
      <div class="player-card__body" [style.background]="player.value.color">
        <img
          class="player-card__avatar"
          [src]="url + player.value.avatar"
          [alt]="player.value.name + ' avatar'"
        />
        <div class="player-card__name">{{ player.value.name }}</div>
        <div class="player-card__hint" aria-hidden="true">✏️</div>
      </div>
    </div>
  </section>

  <section *ngIf="!!selectedUserId" class="edit-panel" [style.--panel-accent]="players[selectedUserId].color">
    <div class="edit-panel__header">
      <img
        class="edit-panel__avatar"
        [src]="url + players[selectedUserId].avatar"
        [alt]="players[selectedUserId].name + ' avatar'"
      />
      <div class="edit-panel__title">{{ players[selectedUserId].name }}</div>
    </div>

    <form class="edit-panel__form" [formGroup]="form">
      <label class="edit-panel__label">{{ 'edit.enterName' | translate }}</label>
      <ft-input
        formControlName="name"
        [placeholder]="'edit.enterName' | translate"
        [errorMessage]="getInputErrorMessage()"
      ></ft-input>
    </form>

    <div class="edit-panel__section">
      <label class="edit-panel__label">{{ 'edit.clickToChangeAvatar' | translate }}</label>
      <ft-avatar-picker
        [avatars]="avatarUrls"
        [selectedAvatar]="url + players[selectedUserId].avatar"
        (avatarSelect)="selectAvatar($event, selectedUserId)"
      ></ft-avatar-picker>
    </div>
  </section>

  <section *ngIf="hasToDisplayAddUser" class="edit-panel edit-panel--add" [style.--panel-accent]="selectedColor">
    <div class="edit-panel__title edit-panel__title--solo">{{ 'edit.addNewPlayer' | translate }}</div>

    <form class="edit-panel__form" [formGroup]="form">
      <label class="edit-panel__label">{{ 'edit.enterName' | translate }}</label>
      <ft-input
        formControlName="name"
        [placeholder]="'edit.enterName' | translate"
        [errorMessage]="getInputErrorMessage()"
      ></ft-input>
    </form>

    <div class="edit-panel__section">
      <label class="edit-panel__label">{{ 'edit.chooseColor' | translate }}</label>
      <ft-color-picker
        [colors]="colors"
        [selectedColor]="selectedColor"
        (colorSelect)="selectColor($event)"
      ></ft-color-picker>
    </div>
  </section>
</div>

<section class="footer">
  <ng-container *ngIf="!!selectedUserId; else backActionTemplate">
    <ft-button variant="primary" (buttonClick)="saveUser()">{{ "common.save" | translate }}</ft-button>
    <ft-button variant="danger" (buttonClick)="deleteUser()">{{ "common.delete" | translate }}</ft-button>
  </ng-container>
  <ng-template #backActionTemplate>
    <ng-container *ngIf="!hasToDisplayAddUser; else addUserTemplateTemplate">
      <ft-button variant="primary" (buttonClick)="backToGame()">{{ "common.return" | translate }}</ft-button>
      <ft-button variant="info" (buttonClick)="displayAddUser()">{{ "common.add" | translate }}</ft-button>
    </ng-container>
    <ng-template #addUserTemplateTemplate>
      <ft-button variant="primary" (buttonClick)="addUser()">{{ "common.save" | translate }}</ft-button>
      <ft-button variant="info" (buttonClick)="cancelCreateUser()">{{ "common.cancel" | translate }}</ft-button>
    </ng-template>
  </ng-template>
</section>
