<ft-header [title]="'edit.editPlayers' | translate"></ft-header>

<div class="container">
  <section class="players">
    <div
      *ngFor="let player of players | keyvalue; let i = index"
      [ngClass]="{
        'selected-player': player.value.id === selectedUserId
      }"
      [id]="player.key"
      class="player-card"
    >
      <div
        class="player player__selectable"
        [style.background]="player.value.color"
        (click)="selectedUserId ? null : selectPlayer(player.key)"
        [matTooltip]="'edit.clickToEdit' | translate"
        data-testid="player-card-selectable"
      >
        <div class="avatar-container">
          <img
            class="player__avatar"
            [src]="url + player.value.avatar"
            [alt]="player.value.name + ' avatar'"
            [matTooltip]="'edit.clickToChangeAvatar' | translate"
            data-testid="player-avatar"
          />
          <div *ngIf="selectedUserId === player.value.id" class="avatar-options">
            <ft-avatar-picker
              [avatars]="avatarUrls"
              [selectedAvatar]="player.value.avatar"
              (avatarSelect)="selectAvatar($event, player.key)"
            ></ft-avatar-picker>
          </div>
        </div>

        <ng-container
          *ngIf="
            selectedUserId && selectedUserId === player.value.id;
            else displayNameTemplate
          "
        >
          <form class="form" [formGroup]="form">
            <ft-input
              formControlName="name"
              [placeholder]="'edit.enterName' | translate"
              [errorMessage]="getInputErrorMessage()"
            ></ft-input>
          </form>
        </ng-container>
        <ng-template #displayNameTemplate>
          <div class="player__name">{{ player.value.name }}</div>
        </ng-template>
      </div>
    </div>
  </section>
</div>

<section *ngIf="hasToDisplayAddUser" class="add-player-section">
  <form class="add-player" [formGroup]="form">
    <div class="form-header">{{ "edit.addNewPlayer" | translate }}</div>
    <ft-input
      formControlName="name"
      [placeholder]="'edit.enterName' | translate"
      [errorMessage]="getInputErrorMessage()"
    ></ft-input>

    <div class="color-section">
      <div class="section-label">{{ "edit.chooseColor" | translate }}</div>
      <ft-color-picker
        [colors]="colors"
        [selectedColor]="selectedColor"
        (colorSelect)="selectColor($event)"
      ></ft-color-picker>
    </div>
  </form>
</section>

<div class="footer">
  <ng-container *ngIf="!!selectedUserId; else backActionTemplate">
    <ft-button variant="primary" (buttonClick)="saveUser()">{{ "common.save" | translate }}</ft-button>
    <ft-button variant="danger" (buttonClick)="deleteUser()">{{ "common.delete" | translate }}</ft-button>
  </ng-container>
  <ng-template #backActionTemplate>
    <ng-container *ngIf="!hasToDisplayAddUser; else addUserTemplateTemplate">
      <ft-button variant="primary" (buttonClick)="backToGame()">{{ "common.return" | translate }}</ft-button>
      <ft-button variant="info" (buttonClick)="displayAddUser()">{{ "common.add" | translate }}</ft-button>
    </ng-container>
    <ng-template #addUserTemplateTemplate>
      <ft-button variant="primary" (buttonClick)="addUser()">{{ "common.save" | translate }}</ft-button>
      <ft-button variant="info" (buttonClick)="cancelCreateUser()">{{ "common.cancel" | translate }}</ft-button>
    </ng-template>
  </ng-template>
</div>