<div class="header">
  <img class="logo" src="./assets/icons/family-talk-icon.png" />
  <div class="title">Conversaciones familiares</div>
</div>

<div class="container">
  <section class="players">
    <div
      *ngFor="let player of players | keyvalue; let i = index"
      [ngClass]="{
        'selected-player-random': player.value.id === selectedUserId,
        'has-answered':
          player.value.hasAnswer || player.value.timeRemaining <= 0
      }"
      [id]="player.key"
    >
      <div class="player" [style.background]="player.value.color">
        <div class="player__name">{{ player.value.name }}</div>
        <div class="player__time">
          ⏳: {{ player.value.timeRemaining | secondsToMinutes }}
        </div>
      </div>
    </div>
  </section>
</div>

<section class="selected-player" *ngIf="selectedPlayer">
  <ng-container *ngIf="!isSelectingRandomUser">
    {{ selectedPlayer.name }} |
    {{ selectedPlayer.timeRemaining | secondsToMinutes }}

    <ng-container *ngIf="selectedPlayer.timeRemaining > 0">
      <button *ngIf="this.intervalId" class="pause" (click)="stopCountdown()">
        ⏸️
      </button>
      <button
        *ngIf="!this.intervalId"
        class="resume"
        (click)="startCountdown()"
      >
        ⏯
      </button>
    </ng-container>
  </ng-container>
</section>
<div class="selected-question" (click)="stopCountdown()" *ngIf="selectedPlayer">
  <ng-container>
    <b>{{ "countdown.question" | translate }}:</b>
    <div class="question">{{ selectedQuestion$ | async }}</div>
  </ng-container>
</div>
<section class="footer">
  <button class="primary tooltip" (click)="selectRandomUserAndStart()">
    🔀
    <span class="tooltip-text">{{ "countdown.selectPlayer" | translate }}</span>
  </button>
  <button class="info tooltip" (click)="navigateConfigs()">
    ⚙️ <span class="tooltip-text">{{ "countdown.configure" | translate }}</span>
  </button>
  <button
    *ngIf="selectedPlayer"
    class="warning tooltip"
    (click)="selectRandomQuestion()"
  >
    ❓
    <span class="tooltip-text">{{
      "countdown.changeQuestion" | translate
    }}</span>
  </button>
  <button
    *ngIf="openAiToken && selectedPlayer"
    class="primary tooltip"
    [ngClass]="{ loading: isLoadingQuestion }"
    (click)="generateRandomQuestion()"
  >
    <ng-container *ngIf="isLoadingQuestion; else generateQuestionIconTemplate">
    </ng-container>
    <ng-template #generateQuestionIconTemplate>
      🤖
      <span class="tooltip-text">{{
        "countdown.generateQuestionWithAi" | translate
      }}</span>
    </ng-template>
  </button>
</section>
