<div class="header">
  <img class="logo" src="./assets/icons/family-talk-icon.png" />
  <div class="title">{{ "config.configuration" | translate }}</div>
</div>

<div class="container">
  <section class="config-options">
    <button
      class="config-option config-player"
      (click)="goToPlayersConfig()"
      eventName="go-to-players-config"
      data-testid="btn-config-players"
    >
      <div class="config-option__title">{{ "config.players" | translate }}</div>
    </button>
    <button
      class="config-option config-general"
      (click)="goToGeneralConfig()"
      eventName="go-to-general-config"
      data-testid="btn-config-general"
    >
      <div class="config-option__title">{{ "config.general" | translate }}</div>
    </button>
    <button
      class="config-option config-language"
      (click)="goToLanguageConfig()"
      eventName="go-to-language-config"
      data-testid="btn-config-language"
    >
      <div class="config-option__title">
        {{ "config.language" | translate }}
      </div>
    </button>
    <button
      class="config-option config-questions"
      (click)="goToQuestionsConfig()"
      eventName="go-to-questions-config"
      data-testid="btn-config-questions"
    >
      <div class="config-option__title">
        {{ "config.questions" | translate }}
      </div>
    </button>
    <button
      class="config-option config-ai"
      (click)="goToAiConfig()"
      eventName="go-to-ai-config"
      data-testid="btn-config-ai"
    >
      <div class="config-option__title">{{ "config.ai" | translate }}</div>
    </button>
  </section>
</div>

<div class="footer">
  <button class="primary" (click)="backToGame()" data-testid="btn-return">
    {{ "common.return" | translate }}
  </button>
</div>